<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/debts/index.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
		<title>SiongGukGuk's Debts</title>
	</head>

	<body>
    <!-- NAVBAR-START -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
  		  <a class="navbar-brand" href="#">
          <i style="font-size: 1.5em;" class="fab fa-bitcoin"></i>
          SiongGukGuk
        </a>
  		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  		    <span class="navbar-toggler-icon"></span>
  		  </button>

  		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  		    <ul class="navbar-nav ml-auto">
  		      <li class="nav-item active">
  		        <a class="nav-link" href="#"><strong>Home</strong><span class="sr-only">(current)</span></a>
  		      </li>
            <li class="nav-item">
              <a class="nav-link" href="/debts/new">Create New Debt</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profile
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!-- <h1>hehehe</h1>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a> -->
              </div>
            </li>
  		      <li class="nav-item">
  		        <a class="nav-link" href="#">About</a>
  		      </li>
  		    </ul>
        </div>
		  </div>
		</nav>
    <!-- NAVBAR-END -->

    <!-- CARDS START -->
    <div id="card_wrapper" class="container">
      <div class="row">

        <!-- generate a Card for each Debt -->
        <% for (let debt of debts) { %>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"> <%= debt.title %> </h5>
                <h6 class="card-subtitle mb-2 text-muted"> <%= debt.startDate %> </h6>
                <p class="card-text"> Capital: <%= debt.capital %> </p>
                <p class="card-text"> Rate: <%= debt.rate %> % </p>
                <a href="/debts/<%= debt._id %>" class="btn btn-primary"> See Details </a>
              </div>
            </div>
          </div>
        <% } %>

      </div>
    </div>
    <!-- CARDS END -->

<% include ../partials/debtsFooter %>
